body {
    font-family: Arial, sans-serif;
    margin: 1px auto;
    background-color: rgb(217, 218, 217);
    color: black;
    width: 100%;
    display: flex;
    justify-content: center;


}

h1 {
    margin-bottom: 5px;
}

label {
    display: inline-block;
    margin-top: 5px;
}

button {
    margin-top: 5px;
    padding: 2px 5px;
}

table {
    border-collapse: collapse;
    margin-top: 15px;
}

th,
td {
    border: 1px solid black;
    padding: 5px;
    text-align: left;
}